* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geneva, sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* header */
header {
  padding: 15px 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 { 
    cursor: pointer;
}

nav ul li {
  display: inline;
  margin-left: 15px;
}

.menu {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.menu ul li {
  display: inline;
  margin-right: 15px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.sidebar {
  width: 25%;
  padding: 20px;
  border: 1px solid #111;
  border-radius: 12px;
}

.sidebar ul {
  padding: 10px;
  cursor: pointer;
}

.sidebar li {
  padding: 8px;
  border-radius: 12px;
}

.sidebar li:hover {
  background-color: #eeeeee;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 65%;
  padding: 20px;
  border: 1px solid #111;
  border-radius: 12px;
}

.box {
  width: 450px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.box img {
  width: 100%;
  height: 180px;
  margin: 10px auto;
  border-radius: 12px;
}

footer {
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  background-color: #eeeeee;
}
