.container {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
}

.buttons button {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  border: none;
}
